@page "/"

<PageTitle>Home</PageTitle>
<div class="about-me-heading">
    <h1>About Me</h1>
    <div class="myimage"></div>
</div>

<div class="about-me-text">
    <p>
        Hello, My name is Nicole Hamilton. I have been doing software development for 6 years, and I have been programming for
        11 years. My interest in programming started when I was a kid, I used to watch my dad program and I thought it was cool.
        My passion for designing video games started when I was 10 when I was playing final fantasy X. I wanted to tell a story 
        that would inspire others, and provide entertainment. My first programming language was C++, and I learned it when I was 18.
        I have been learning more and more throughout the years, and now I feel most comfortable with Unity, C#, .Net Maui, and Blazor.
    </p>
</div>