@page "/"

<PageTitle>Home</PageTitle>
<div class="banner"></div>
<div class="about-me-heading">
    <h1>About Me</h1>
    <img src="images/profile.jpg" alt="Profile Picture" width="400" height="600"/>
</div>

<div class="about-me-text">
    <p>
        I am a software developer with a passion for creating web applications. I have been working in the software industry for over 10 years and have experience in a variety of technologies. I am always looking to learn new things and improve my skills.
    </p>
</div>