@page "/Projects"
<h1>My Projects</h1>

<div class="projectarea">
<h2>Finished Game Projects</h2>
<div class="wildatheart">
    <h3>Wild At Heart</h3>
    <img src="images/wildatheart.png" alt="Wild At Heart Game">
    <p>You are the last of your kind trying to survive in your homelands against robots trying to kill you.</p>
    <a href="https://dragonlens.itch.io/wild-at-heart">Link to Wild At Heart Game</a>
</div>
<div class="lostdreams">
    <h3>Lost Dreams</h3>
    <img src="images/lostdreams.png" alt="Lost Dreams Game">
    <p>You are a failed chef trying to overcome your trauma in the dream realm with the help of your corgi Biscuit.</p>
    <a href="https://dragonlens.itch.io/lost-dreams">Link to Lost Dreams Game</a>
</div>
<div class="oceanscall">
    <h3>Ocean's Call</h3>
    <img src="images/oceanscall.png" alt="Ocean's Call Game">
    <p>You are trying to save a sole survivor of a shipwreck, but are you a mermaid or a siren? Are you really a friend, or are you a foe?</p>
    <a href="https://dragonlens.itch.io/oceans-call">Link to Ocean's Call Game</a>
</div>
<div class="luminous">
    <h3>Luminous</h3>
    <img src="images/luminous.png" alt="Luminous Game">
    <p>You are a child lost in a cursed forest. After dark the forest has a fox spirit that devours the souls of humans. Can you make it out of the forest?</p>
    <a href="https://dragonlens.itch.io/luminous">Link to Luminous Game</a>
</div>
<div class="cloudadventures">
<h3>Cloud Adventures</h3>
<img src="images/cloudadventures.png" alt="Cloud Adventures Game">
<p>You are transported to a mysterious land in the sky. You want to find your way home, and a mysterious friend may help you get home.</p>
<a href="https://dragonlens.itch.io/cloud-adventures">Link to Cloud Adventures Game</a>
</div>
<div class="cubedtodeath">
<h3>Cubed To Death</h3>
<img src="images/cubedtodeath.png" alt="Cubed To Death Game">
<p>A game where you survive falling cubes</p>
<a href="https://dragonlens.itch.io/cubed-to-death">Link to Cubed To Death Game</a>
</div>
<div class="slimemania">
<h3>Slime Mania</h3>
<img src="images/slimemania.png" alt="Slime Mania Game">
<p>A game where you have to get the matching slimes into the corral, and avoid the bomb slimes.</p>
<a href="https://dragonlens.itch.io/slime-mania">Link to Slime Mania Game</a>
</div>
<div class="afterlife">
<h3>Afterlife</h3>
<img src="images/afterlife.png" alt="Afterlife Game">
<p>A platformer where the main character is in the afterlife, and trying to find a way to get another chance at life.</p>
<a href="https://dragonlens.itch.io/afterlife">Link to Afterlife Game</a>
</div>
<h2>Other Finished Projects</h2>
<div class="Catnapsleepjournal">
<h3>Cat Nap Sleep Journal</h3>
<img src="images/catnapsleepjournal.png" alt="Cat Nap Sleep Journal">
<p>A sleep journal application made in .Net Maui. It helps those with Narcolepsy track the progression of their symptoms.</p>
</div>
<div class="tinyshoppinghelper">
<h3>Tiny Shopping Helper</h3>
<img src="images/tinyshoppinghelper.png" alt="My Tiny Shopping Helper">
<p>A app made in Java using Swing that helps you track how much you've spent on a shopping trip. Very useful for budgeting.</p>
</div>
<div class="cplusplusfinal">
<h3>C++ Final Project</h3>
<img src="images/cplusplusfinal.png" alt="C++ Final Project">
<p>I made a game that is a text based adventure in a village.</p>
</div>
<h2>Works In Progress</h2>
<div class="puppytasks">
    <h3>Puppy Tasks</h3>
    <img src="images/puppytasks.png" alt="Puppy Tasks">
    <p>A app that is made in .Net Maui where you can help manage ADHD</p>
</div>
<div class="werelive">
    <h3>We Relive</h3>
    <img src="images/werelive.png" alt="We Relive Game">
    <p>A game where you play as a streamer playing various games. Game is not complete and under construction</p>
    <a href="https://dragonlens.itch.io/we-relive">Link to We Relive Game</a>
</div>
<div class="pixelengineforunity">
    <h3>Pixel Engine For Unity</h3>
    <img src="images/pxe.png" alt="Pixel Engine For Unity">
    <p>A game engine for Unity. Under construction.</p>
    <a hfref="https://dragonlens.itch.io/unity-pixel-engine">Link to Pixel Engine For Unity</a>
</div>
</div>
@code {
    
}