@page "/skills"

<PageTitle>Skills</PageTitle>

<div class="skills-container center">
    <h1>Skills</h1>
    <hr class="hr1">

    <div class="skills-grid">
        <!-- Programming Languages -->
        <div class="skills-category">
            <h2>Programming Languages</h2>
            <!-- Skill Item: C# -->
            <div class="skill-item" data-tooltip="C# is a versatile language used in my .NET projects.">
                <h3>C#</h3>
                <div class="stars">
                    <span class="oi oi-heart checked"></span>
                    <span class="oi oi-heart checked"></span>
                    <span class="oi oi-heart checked"></span>
                    <span class="oi oi-heart checked"></span>
                    <span class="oi oi-heart"></span>
                </div>
            </div>
            <div class="skill-item" data-tooltip="C++ a fast powerful low level language">
                <h3>C++</h3>
                <div class="stars">
                    <span class="oi oi-heart checked"></span>
                    <span class="oi oi-heart checked"></span>
                    <span class="oi oi-heart checked"></span>
                    <span class="oi oi-heart"></span>
                    <span class="oi oi-heart"></span>
                </div>
            </div>
            <div class="skill-item" data-tooltip="Java is a versatile language used in cross-platform applications.">
                <h3>Java</h3>
                <div class="stars">
                    <span class="oi oi-heart checked"></span>
                    <span class="oi oi-heart checked"></span>
                    <span class="oi oi-heart checked"></span>
                    <span class="oi oi-heart checked"></span>
                    <span class="oi oi-heart"></span>
                </div>
            </div>
            <div class="skill-item" data-tooltip="Widely used web programming language.">
                <h3>JavaScript</h3>
                <div class="stars">
                    <span class="oi oi-heart checked"></span>
                    <span class="oi oi-heart checked"></span>
                    <span class="oi oi-heart"></span>
                    <span class="oi oi-heart"></span>
                    <span class="oi oi-heart"></span>
                </div>
            </div>
        </div>
    </div>
</div>